<div class="modal" id="addActivity">
    <div class="modal-dialog" role="document">
        <div class="modal-content">                
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une actualité</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                {{form_start(form,{'action': path('app_dashboard')})}}
                    {{form_widget(form.name)}}
                    <button class="btn btn-primary mt-2" type="submit">Créer l'activité</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>