<h6 class="bg-body-secondary p-2">Tableau de bord de {{app.user.firstname}} {{app.user.lastname}}</h6>
    <div class="container">
        <p>
            Bienvenue sur votre tableau de bord. Vous pouvez consulter vos notes et vos devoirs.
        </p>
        <div class="d-flex flex-wrap justify-content-between">
       <card class="card col-12 col-lg-5">
           <div class="card-header">
               <h5 class="card-title">Mes compétences</h5>
           </div>
           <div class="card-body">
                <ul>
                     <li>Mathématiques</li>
                     <li>Français</li>
                     <li>Anglais</li>
                </ul>
           </div>
        </card>
        </div>
    </div>